* {
    background-color: #ecd1af;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

html, body {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ol, ul {
    margin: 0;
}

ul {
    list-style-type: none;
}

h1 {
    color: #faebd7;
    font-size: 48px;
    background-color: brown;
    padding: 40px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 3px solid #6e1f1f;
}

h2,
h3 {
    color: #6e1f1f;
    margin: 12px 20px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

footer {
    color: #faebd7;
    background-color: brown;
    padding: 20px;
    bottom: 0;
    border-top: 3px solid #6e1f1f;
}

.text {
    color: #221111;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.image {
    height: 240px;
    width: auto;
    margin: 10px 25px;
    border: 2px solid #6e1f1f;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    width: 30vw;
    height: 30vh;
    font-size: 24px;
    text-shadow: #000000 1px 1px 0;
    padding: 64px 120px;
    border: 2px solid #6e1f1f;
    background-size: cover;
}

.link {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

.button-link {
    margin-bottom: 12px;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link:visited {
    color: #c2830d;
}

.button:hover {
    background-blend-mode: multiply;
}

#angel {
    background-image: url(images/cake.jpeg);
}

#bread {
    background-image: url(images/banana-bread.jpeg);
}

#rolls {
    background-image: url(images/rolls.jpeg);
}

#cookies {
    background-image: url(images/cookies.jpeg);
}

@media screen and (max-width: 800px) {
    
    h1 {
        padding: 10%;
        font-size: 8vw;
    }

    h2, h3 {
        font-size: 8vw;
    }

    footer {
        font-size: 4vw;
        padding: 3%;
    }

    .text {
        font-size: 6vw;
        margin: 5%;
    }
    
    .button {
        width: 90vw;
    }

    .image {
        width: 90vw;
        height: auto;
        margin: 5%;
    }
}